<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uiu.helper">

    <!-- Google Analytics required permissions -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- Parse push required permissions -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />

    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />
    <!-- Google places required permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="com.uiu.helper.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.uiu.companion.permission.C2D_MESSAGE" />

    <!-- Optional permission for reliable local dispatching on non-Google Play devices -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- PlacePicker also requires OpenGL ES version 2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name=".CompanionApp"
        android:allowBackup="true"
        android:icon="@mipmap/companion_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".KidsHelper.mvp.ui.main.MainActivity"
            android:fitsSystemWindows="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "com.parse.starter" to match your app's package name. -->
                <category android:name="com.uiu.helper" />
            </intent-filter>
        </receiver>

        <!-- android:theme="@android:style/Theme.Black.NoTitleBar" -->

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1c2d2a497b83978e0ed732eda92056a4bbf8473a" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCMK-PDR8cCviGRZSZ8etV1efP6EKG3FTQ" />

        <!-- Helper Section -->

        <!-- Kids Section -->

        <activity
            android:name=".KidsHelper.mvp.ui.dashboard.DashboardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".KidsHelper.mvp.ui.dashboard.apps.AppsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".KidsHelper.mvp.ui.dashboard.contact.ContactActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".KidsHelper.mvp.ui.settings.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>

        <activity
            android:name=".KidsHelper.mvp.ui.tracker.StreetViewPanoramaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>

        <!-- [START fcm_default_icon] -->
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/PrimaryColor" />
        <!-- [END fcm_default_icon] -->
        <!-- [START fcm_default_channel] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <!-- [END fcm_default_channel] -->


        <!-- [START firebase_service] -->
        <service android:name=".KidsHelper.firebasefcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->
        <service android:name=".KidsHelper.firebasefcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".receivers.NotificationActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.uiu.helper.approve" />
                <action android:name="com.uiu.helper.reject" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".KidsHelper.mvp.ui.media_notification.VideoPlaybackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".KidsHelper.mvp.ui.dashboard.regd_peoples.RegdContactActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>

        <service
            android:name=".KidsHelper.mvp.ui.media_notification.UploadFileService"
            android:exported="false"></service>
    </application>

</manifest>